:host {
  padding: 20px;
}
mat-card {
  margin: 40px auto;
  width: 300px;
  padding: 0;
  text-align: center;
}
mat-card-title {
  padding: 20px;
}
.errorMessage {
  height: 20px;
  color: red;
}
button {
  margin: 20px;
}
