<mat-card-title>Twoje zamówienie</mat-card-title>
<ng-container [ngSwitch]="step">
  <div *ngSwitchCase="0">
    <button mat-raised-button color="accent" (click)="step = 1">
      Ostatnie zamówienie
    </button>
    <button mat-raised-button color="primary" (click)="step = 2">
      Nowe zamówienie
    </button>
  </div>
  <div *ngSwitchCase="1">
    <div>Zamówienie z dnia {{ previousOrder.date }}</div>
    <ul>
      <li *ngFor="let order of previousOrder.order">
        <mat-card-subtitle>{{ order.name }}</mat-card-subtitle>
        <ul>
          <li *ngFor="let container of order.containers">
            {{ container.name }} - {{ container.quantity }} szt.
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div *ngSwitchCase="2">
    <div *ngIf="userOrder.length == 0; else currentOrder">
      <mat-card-subtitle>Ulubione smaki</mat-card-subtitle>
      <app-customer-order-flavour
        *ngFor="let flavour of favourites"
        [flavourName]="flavour.name"
        [containers]="containers"
        (flavour)="updateOrder($event)"
      >
      </app-customer-order-flavour>
      <mat-card-subtitle>Pozostałe smaki</mat-card-subtitle>
      <ng-container *ngFor="let flavour of flavours"
        ><app-customer-order-flavour
          *ngIf="!isFavourite(flavour.name)"
          [flavourName]="flavour.name"
          [containers]="containers"
          (flavour)="updateOrder($event)"
        >
        </app-customer-order-flavour></ng-container
      ><button mat-raised-button color="primary" (click)="step = 3">
        Zatwierdź
      </button>
    </div>
    <ng-template #currentOrder
      ><div>Zamówienie z dnia {{ date }}</div>
      <ul>
        <li *ngFor="let order of userOrder">
          <mat-card-subtitle>{{ order.name }}</mat-card-subtitle>
          <ul>
            <li *ngFor="let container of order.containers">
              {{ container.name }} - {{ container.quantity }} szt.
            </li>
          </ul>
        </li>
      </ul>
      <div class="message">
        <div>Możesz złożyć jedno zamówienie dziennie.</div>
        <div>Zapraszamy jutro!</div>
      </div>
    </ng-template>
  </div>
  <div *ngSwitchCase="3">
    <mat-card-subtitle>Podsumowanie zamówienia</mat-card-subtitle>
    <div>Zamówienie z dnia {{ date }}</div>
    <ul>
      <li *ngFor="let flavour of order">
        {{ flavour.name }}:
        <ul>
          <li *ngFor="let container of flavour.containers">
            {{ container.name }} - {{ container.quantity }} szt.
          </li>
        </ul>
      </li>
    </ul>
    <button mat-raised-button color="primary" (click)="sendOrder()">
      Zamów
    </button>
  </div>
</ng-container>
