mat-toolbar {
  height: 30px;
  background-color: #929292;
  padding: 0;
}
a {
  width: 34%;
  height: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
}
.active {
  background-color: #7b1fa2;
}
