<mat-card-title>Szczegóły zamówień</mat-card-title>
<ul *ngIf="orders.length; else noOrders">
  <li *ngFor="let orderByUser of orders">
    <mat-card-subtitle>{{ orderByUser.user }}</mat-card-subtitle>
    <ul>
      <li *ngFor="let orderElement of orderByUser.order">
        {{ orderElement.name }}
        <ul>
          <li *ngFor="let container of orderElement.containers">
            {{ container.name }} - {{ container.quantity }} szt.
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
<ng-template #noOrders>
  <mat-card-subtitle>Dziś jeszcze nie ma zamówień</mat-card-subtitle>
</ng-template>
