<mat-grid-list cols="2" rowHeight="230px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Podsumowanie zamówień</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Szczegóły zamówień</mat-card-title>
      <ul>
        <li *ngFor="let orderByUser of orders">
          {{ orderByUser.user }}
          <ul>
            <li *ngFor="let orderElement of orderByUser.order">
              {{ orderElement.name }}
              <ul>
                <li *ngFor="let container of orderElement.containers">
                  {{ container.name }} - {{ container.quantity }}
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <button (click)="getThem()">pokaz</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
