<mat-grid-list cols="2" rowHeight="230px">
  <mat-grid-tile>
    <a (click)="showModal('summary')"
      ><mat-card>
        <mat-card-title>Podsumowanie zamówień</mat-card-title>
      </mat-card></a
    >
  </mat-grid-tile>
  <mat-grid-tile>
    <a (click)="showModal('details')"
      ><mat-card>
        <mat-card-title>Szczegóły zamówień</mat-card-title>
      </mat-card></a
    >
  </mat-grid-tile>
</mat-grid-list>

<div id="modal-container" *ngIf="isModalVisible">
  <mat-card id="modal">
    <mat-icon (click)="toggleModal()">highlight_off</mat-icon>
    <div *ngIf="isSummaryVisible; else details">
      <app-admin-dashboard-summary
        [orders]="currentOrders"
      ></app-admin-dashboard-summary>
    </div>
    <ng-template #details>
      <app-admin-dashboard-orders
        [orders]="orders"
      ></app-admin-dashboard-orders>
    </ng-template>
  </mat-card>
</div>
