<mat-grid-list cols="2" rowHeight="230px">
  <mat-grid-tile>
    <a (click)="showModal('list')">
      <mat-card><mat-card-title>Lista klientów</mat-card-title></mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a (click)="showModal('')">
      <mat-card><mat-card-title>Dodaj klienta</mat-card-title></mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<app-modal *ngIf="isModalVisible">
  <mat-icon (click)="toggleModal()">highlight_off</mat-icon>
  <div *ngIf="isCustomersListVisible; else form">
    <app-admin-customers-list
      [customers]="customers"
    ></app-admin-customers-list>
  </div>
  <ng-template #form>
    <app-admin-customers-form
      [customers]="customers"
    ></app-admin-customers-form>
  </ng-template>
</app-modal>
