mat-card {
  width: 70vw;
  text-align: center;
  margin: 10px auto;
}
mat-card-title {
  padding: 10px;
}
input {
  display: block;
  margin: auto;
}
.errorMessage {
  height: 20px;
  color: red;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
