<h1>
  <span id="customer">{{ loggedCustomer }}</span> witaj w świecie craftowych
  lodów!
</h1>
<span>Dziś mamy {{ date }}. Osłodź sobie jutrzejszy dzień!</span>
<mat-grid-list cols="2" rowHeight="230px">
  <mat-grid-tile>
    <a>
      <mat-card (click)="showModal('order')">
        <mat-card-title>Twoje dzisiejsze zamówienie</mat-card-title>
      </mat-card>
    </a>
  </mat-grid-tile>
  <mat-grid-tile>
    <a (click)="showModal('offer')">
      <mat-card>
        <mat-card-title>Aktualna oferta</mat-card-title>
      </mat-card>
    </a>
  </mat-grid-tile>
</mat-grid-list>
<div id="modal-container" *ngIf="isModalVisible">
  <mat-card id="modal">
    <mat-icon (click)="toggleModal()">highlight_off</mat-icon>
    <div *ngIf="whichModal === 'offer'; else makeOrder">
      <app-customer-offer
        [flavours]="flavours"
        [containers]="containers"
        [favourites]="favourites"
        [uid]="uid"
        (clickButton)="toggleModal()"
      ></app-customer-offer>
    </div>
    <ng-template #makeOrder>
      <app-customer-order
        [flavours]="flavours"
        [containers]="containers"
        [favourites]="favourites"
        [uid]="uid"
        [loggedCustomer]="loggedCustomer"
        [userOrder]="userOrder"
        (clickButton)="toggleModal()"
      ></app-customer-order>
    </ng-template>
  </mat-card>
</div>
